@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typed.scss";

@font-face {
  font-family: Monocraft;
  src: url('../public/font/Monocraft.otf');
}

@layer theme {
  .theme {
    @apply from-gray-200 dark:from-gray-950 via-purple-900 to-violet-600
  }

  .theme_components {
    @apply bg-gradient-to-br from-gray-200 dark:from-gray-950 dark:via-purple-900 to-violet-600
  }
}

* {
  font-family: Monocraft !important;
}

div ::-webkit-scrollbar {
  width: 0;
} ::-webkit-scrollbar {
  @apply w-[0.42rem] 
} ::-webkit-scrollbar-track {
  @apply bg-gray-950
} ::-webkit-scrollbar-thumb {
  @apply bg-MAIN_PINK rounded-full
}

.welcoming-ru {
  @include typed(
			"Я Руся Белкин.",
			"Или Belkin.",
			"Или pureawake.",
      "Или просто белка.",
			1.5, (caret-width: 4px, caret-space: 2px)
		);
}

.welcoming-en {
  @include typed(
			"I'm Rusya Belkin.",
			"Or Belkin.",
			"Or pureawake.",
      "Or just a belka.",
			1.5, (caret-width: 4px, caret-space: 2px)
		);
}